<h1> Shifts </h1>
<a href="/shifts/new">Create a new shift</a>


{{#each shifts}}
    <div>
        <p>Date: {{ this.date }}</p>
        <p>Notes: {{this.notes}}</p>
    </div>
    <a href="/shifts/{{this._id}}">View Shift</a>
    <hr />

{{/each}}