<h1>Shift</h1>

<form method="post" action="/shifts">
    <div>
        <label>Notes</label>
    </div>
    <div>
        <input type="textarea" name="notes" />
    </div>
   
   
    <div>
        <input type="submit" value="Submit Form" />
    </div>
</form>
